[submodule "repos/metamask-mobile"]
	path = repos/metamask-mobile
	url = https://github.com/MetaMask/metamask-mobile.git
[submodule "repos/metamask-design-system"]
	path = repos/metamask-design-system
	url = https://github.com/MetaMask/metamask-design-system.git
[submodule "repos/metamask-extension"]
	path = repos/metamask-extension
	url = https://github.com/MetaMask/metamask-extension.git
